body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}
h1{
    color: #333
}
nav{
    background-color: #333;
    padding: 10px;
}
nav a{
    color: white;
    text-decoration: none;
    margin-right: 15px;
    font-weight: bold;
}
nav a:hover{
    text-decoration: underline;
}
p, li{
    color: #555
}
footer{
    margin-top: 30px;
}
footer p{
    color: #777;
}