body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}
h1{
    color: #333
}
nav{
    background-color: #333;
    padding: 15px;
}
nav a{
    color: white;
    text-decoration: none;
    margin-right: 15px;
    font-weight: bold;
}
nav a:hover{
    text-decoration: underline;
}
p, li{
    color: #555
}
footer{
    margin-top: 30px;
}
footer p{
    color: #777;
}
section{
    background-color: white;
    padding: 20px;
    margin: 20px;
    border: 2px solid #ddd;
    border-radius: 5px;
    text-align: center;
}
ul{
    text-align:left;
}
button{
    padding: 10px 20px;
    border: none;
    background-color: #333;
    color: white;
    cursor: pointer;
}
button:hover{
    background-color: #555;
}
@media (max-width: 600px){
    nav a{
        display: block;
        margin: 10px 0;
    }
    section{
        margin: 10px;
    }
}